* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  font-size: 10px;
}

header {
  min-height: 100vh;
  background-image: url(../imgs/banner.jpg);

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 10px 15px;
}

div.header-blur {
  background-color: #000000;
  opacity: 0.7;

  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

section.header-banner {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;

  position: inherit;
  min-height: 100vh;
  z-index: 1;
}

article.header-banner--infos {
  max-width: 625px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
}

figure.header-banner--logo {
  width: 35%;
  max-width: 340px;
  min-width: 220px;
}

figure.header-banner--logo img {
  width: 100%;
}

p.paragraph {
  color: rgb(245, 245, 245);
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.2;
}

p.paragraph-variant {
  text-transform: uppercase;
  font-weight: 600;
}

h1.title {
  font-size: 4.8rem;
  line-height: 1.3;
  color: rgb(245, 245, 245);
}

button.btn-contact {
  border: none;
  border-radius: 6px;
  padding: 15px 40px;
  background-color: #61ce70;
  color: rgb(36, 36, 36);
  font-size: 1.7rem;
  font-weight: 800;
  cursor: pointer;
  transition: all 200ms ease-in;

  display: flex;
  align-items: center;
}

button.btn-contact:hover {
  background-color: #4bb95a;
}

button.btn-contact svg {
  margin-right: 25px;
}

/* Seção do Sobre */

section.section {
  padding: 20px 30px;
  margin-top: 45px;
}

section.section-variant {
  background-color: #d3d3d3;
  padding-top: 55px;
}

article.article-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 35px;
}

div.container-title {
  width: 90%;
  display: flex;
  align-items: center;
}

div.line-title {
  width: 10px;
  height: 42px;
  background-color: #242121;
  margin-right: 25px;
}

h3.title-section {
  font-size: 4.2rem;
  text-transform: uppercase;
}

div.container-infos {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
  align-items: center;
}

div.container-texts {
  width: 45%;
}

p.container-texts--paragraph {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 15px;
}

figure.container-img {
  width: 45%;
  max-width: 675px;
  min-width: 245px;
  border-radius: 12px;
  overflow: hidden;
}

img.container-img--avatar {
  width: 100%;
}

/* Seção Especialidades */

div.container-specialties {
  margin-top: 60px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 35px;
}

div.card-icons {
  width: 100%;
  min-width: 250px;
  max-width: 470px;
  border-radius: 12px;
  padding: 15px 10px;
  background-color: #ffffffbb;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: stretch;
  flex-direction: row;
  gap: 15px;
}

div.card-icons--icon {
  background-color: #1b1919;
  padding: 10px;
  border-radius: 12px;

  display: flex;
  align-items: center;
}

div.card-icons--icon i {
  font-size: 3.5rem;
  color: #f3ebeb;
}

div.card-icons--text h6 {
  font-size: 1.7rem;
  margin-bottom: 15px;
}

div.card-icons--text p {
  font-size: 1.6rem;
  line-height: 1.3;
}

/* Seção Contato */

div.container-contact {
  min-height: 45vh;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

h5.container-contact--title {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
}

h6.container-contact--subtitle {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3;
}

/* Reponsivo  */

@media (max-width: 1034px) {
  div.container-title {
    justify-content: center;
    width: 100%;
  }

  div.container-infos {
    justify-content: center;
  }

  div.container-texts {
    width: 85%;
  }

  figure.container-img {
    width: 55%;
    max-width: 675px;
    min-width: 245px;
    border-radius: 12px;
    overflow: hidden;
  }

  div.card-icons {
    max-width: none;
  }

  div.container-contact {
    text-align: justify;
  }
}

@media (max-width: 525px) {
  article.header-banner--infos {
    align-items: stretch;
  }

  button.btn-contact {
    justify-content: center;
  }

  h1.title {
    font-size: 3.2rem;
    text-align: center;
    line-height: 1.5;
  }

  p.paragraph {
    font-size: 1.7rem;
    text-align: center;
  }

  h3.title-section {
    font-size: 2.8rem;
    text-transform: uppercase;
  }
}
