* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  font-size: 10px;
}

header {
  min-height: 100vh;
  background-image: url(../imgs/banner.jpg);

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

div.header-blur {
  background-color: #000000;
  opacity: 0.9;

  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

section.header-banner {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;

  position: inherit;
  min-height: 100vh;
  z-index: 1;
  padding: 10px 15px;
}

article.header-banner--infos {
  /* width: 65%; */
  max-width: 625px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 25px;
}

figure.header-banner--logo {
  width: 35%;
  max-width: 340px;
  min-width: 220px;
}

figure.header-banner--logo img {
  width: 100%;
}

p.paragraph {
  color: rgb(245, 245, 245);
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.2;
}

p.paragraph-variant {
  text-transform: uppercase;
  font-weight: 600;
}

h1.title {
  font-size: 4.8rem;
  line-height: 1.3;
  color: rgb(245, 245, 245);
}

/* Reponsivo  */

@media (max-width: 525px) {
  h1.title {
    font-size: 3.2rem;
    text-align: center;
    line-height: 1.5;
  }

  p.paragraph {
    font-size: 1.7rem;
    text-align: center;
  }
}
